@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
*, *::before, *::after{
  box-sizing: border-box;
  font-family: 'Ranchers', cursive;
}
:root{
  --hue-neutral:200;
  --hue-wrong:0;
  --hue-correct:145;
}
body{
  --hue: var(--hue-neutral);
  padding:0;
  margin:0 auto;
  display: flex;
  width:100vw;
  height:100vh;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--hue),100%,20%);
}
body.correct{
  --hue: var(--hue-correct);
}
body.wrong{
  --hue: var(--hue-wrong);
}
.fivegrader{
  color:white;
  letter-spacing: 2px;
}
.overall-container, #scoreboard{
  width:65vw;
  max-width:80%;
  background-color: white;
  border-radius:.5rem;
  padding:1rem;
  box-shadow: 0 0 1rem .2rem;
}
.btn-grid{
  display:grid;
  grid-template-columns: repeat(2, auto);
  gap: 1rem;
  margin: 1rem 0;
}
.btn{
 --hue: var(--hue-neutral); 
 border: .2rem solid hsl(var(--hue), 100%, 30%);
 background-color: hsl(var(--hue),100%,50%);
 border-radius: 5px;
 padding: .3rem .5rem;
 color:white;
 outline:none;
}
.btn:hover{
  border-color:black;
}
.btn.correct{
--hue: var(--hue-correct); 
color:black;
}
.btn.wrong{
  --hue: var(--hue-wrong); 
}
.start-btn, .next-btn, .submit-btn{
  background-color: rgb(153, 204, 255);
  color:rgb(3, 24, 83);
  font-size:1.5rem;
  font-weight:100;
  padding:0.8rem 1rem;
  border-radius:1rem;
  letter-spacing: .2rem;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

 .hide{
  display:none;
} 